<div class="text-white mt-4 mb-4">
    <h1 class="text-2xl font-bold"> About Us</h1>

    <div class="flex flex-wrap">
        <div class="sm:flex gap-5">
        <div class="mt-4">
            <h1 class="mt-2 font-bold">Our Company</h1>
            <p class="mt-2 text-sm text-content-color">Our Mission is simple yet profound: to transform spaces into living, breathing works of art. We see every project as an opportunity to fuse functionality and aesthetics to harmonize form and purpose. We aim to design and build structures that not only stand the test of time but also enrich the lives of the users of the building.    </p>
        </div>

        <div  class="mt-4">
            <h1 class="mt-2 font-bold">Our Mission</h1>
            <p class="mt-2 text-sm text-content-color">Our Mission is simple yet profound: to transform spaces into living, breathing works of art. We see every project as an opportunity to fuse functionality and aesthetics to harmonize form and purpose. We aim to design and build structures that not only stand the test of time but also enrich the lives of the users of the building.    </p>
        </div>

        <div  class="mt-4">
            <h1 class="mt-2 font-bold">Our Philosophy</h1>
            <p class="mt-2 text-sm text-content-color">Our Mission is simple yet profound: to transform spaces into living, breathing works of art. We see every project as an opportunity to fuse functionality and aesthetics to harmonize form and purpose. We aim to design and build structures that not only stand the test of time but also enrich the lives of the users of the building.    </p>
        </div>
    </div>
    </div>
</div>
 

