<div class="text-white mt-4 rounded-[20px] testimonials-background">

    <div class="rounded mt-7 ">
        <div class="flex flex-wrap">
            <div class="">
                <div class="mt-4 px-4">
                    <img src="https://res.cloudinary.com/koyo-nation/image/upload/v1700167083/Avatars_opsq7f.png"
                        alt="">
                </div>
            </div>
            <div class="mt-4 ">
                <h1 class="">Amanda Jones</h1>
                <h4 class="text-sm">Medical Doctor, FMC Abakaliki</h4>
            </div>
        </div>
    </div>

    <div class="px-4 mt-4 text-sm pb-4">
        <p>This company gave me the best client treatment and also worked with my budget and still delivered beyond my expectation. i recommend the for any of your architectural and building project.</p>
    </div>


</div>