<div class="container mx-auto">
    <div class="text-white">
        <ol class=" flex justify-between text-white space-x-5 px-4 mt-[100px] text-sm">
            <li >
                About
            </li>
            <li >
                Services
            </li>
            <li >
                Project
            </li>
            <li >
                Contact
            </li>

        </ol>
    </div>


    <div class="text-white flex justify-center mt-4">
        <ol class="flex justify-betweee space-x-[50px] mt-4 text-xs">
            <li  class=""><img src="https://res.cloudinary.com/koyo-nation/image/upload/v1700343587/i2nstagram_fm9chs.png" alt=""></li>
            <li><img src="https://res.cloudinary.com/koyo-nation/image/upload/v1700343539/t2witter_x0oaxo.png" alt=""></li>
            <li><img src="https://res.cloudinary.com/koyo-nation/image/upload/v1700343553/f2acebook_rod46d.png" alt=""></li>
        </ol>
    </div>

    <div class="mt-4">hhhh</div>
</div>
