<div class="container mx-auto px-4 mt-4">
    <div class="py-4 relative">
        <img src="https://res.cloudinary.com/koyo-nation/image/upload/v1700149062/Home_Page_Hero_Section_Media_Group_i1h6mq.png"
            alt="">
        <button
            class="absolute top-1/2 ml-2 sm:ml-4 md:ml-3 lg:ml-4 xl:ml-6  button-color rounded-[200px] px-2 py-3 text-xs mt-2">Learn
            more</button>
    </div>

    <div class="mb-4 mt-10">
        <app-about-us-list></app-about-us-list>
    </div>

    <div class="mt-10">
        <img src="https://res.cloudinary.com/koyo-nation/image/upload/v1700157251/hands_o0ixom.png" alt=""
            class="w-full">
    </div>

    <div class="flex flex-wrap mt-10">
        <div class="sm:flex gap-5 text-white mt-9">
            <div class="mt-4 sm:w-1/2">
                <h1 class="mt-2 text-2xl font-bold">Our Services</h1>

                <div class="mt-[150px]">
                    <h1 class="mt-2 font-bold">Architectural Design </h1>
                </div>
                <p class="mt-2 text-xs text-content-color">We carry out conceptual design and planning of the space,
                    produce the architectural drawings and blueprint of your dream building. analyze the site and plan
                    the space and we ensure that we follow the building code ordinance. </p>
                <button class=" mt-4 border rounded-[200px] w-auto h-auto px-4 py-3">Learn
                    more</button>
            </div>

            <div class="flex-auto">
                <div class="mt-4">
                    <img src="https://res.cloudinary.com/koyo-nation/image/upload/v1700158142/homeimg3_pd3i85.png"
                        alt="" class="w-full">
                </div>
            </div>
        </div>
    </div>


    <div class="flex flex-wrap ">
        <div class="sm:flex text-white mt-9 gap-5">
            <div class="sm:flex-auto ">
                <div class="mt-4 ">
                    <img src="https://res.cloudinary.com/koyo-nation/image/upload/v1700160287/Building_Construction_iqgg14.png"
                        alt="" class="w-full">
                </div>
            </div>


            <div class="mt-4 sm:w-1/2">
                <div class="mt-[200px]">
                    <h1 class="mt-2 font-bold">Building Construction </h1>
                </div>
                <p class="mt-2 text-xs text-content-color">We carry out conceptual design and planning of the
                    space, produce the architectural drawings and blueprint of your dream building. analyze the site and
                    plan the space and we ensure that we follow the building code ordinance.</p>
                <button class="mt-4 border rounded-[200px] w-auto h-auto px-4 py-3">Learn
                    more</button>
            </div>

        </div>
    </div>


    <div class="flex flex-wrap">
        <div class="sm:flex gap-5 text-white mt-9">
            <div class="mt-4 sm:w-1/2">

                <div class="mt-[150px]">
                    <h1 class="mt-2 font-bold">Building Renovation </h1>
                </div>
                <p class="mt-2 text-xs text-content-color">We carry out conceptual design and planning of the space,
                    produce the architectural drawings and blueprint of your dream building. analyze the site and plan
                    the space and we ensure that we follow the building code ordinance. </p>
                <button class=" mt-4 border rounded-[200px] w-auto h-auto px-4 py-3">Learn
                    more</button>
            </div>

            <div class="flex-auto">
                <div class="mt-4">
                    <img src="https://res.cloudinary.com/koyo-nation/image/upload/v1700163983/services_image_container_d1t4aj.png"
                        alt="" class="w-full">
                </div>
            </div>
        </div>
    </div>


    <div class="flex flex-wrap ">
        <div class="sm:flex text-white mt-9 gap-5">
            <div class="sm:flex-auto ">
                <div class="mt-4 ">
                    <img src="https://res.cloudinary.com/koyo-nation/image/upload/v1700164316/s2ervices_image_container_1_cxmcae.png"
                        alt="" class="w-full">
                </div>
            </div>


            <div class="mt-4 sm:w-1/2">
                <div class="mt-[200px]">
                    <h1 class="mt-2 font-bold">Project Management</h1>
                </div>
                <p class="mt-2 text-xs text-content-color">We carry out conceptual design and planning of the space,
                    produce the architectural drawings and blueprint of your dream building. analyze the site and plan
                    the space and we ensure that we follow the building code ordinance.</p>
                <button class="mt-4 border rounded-[200px] w-auto h-auto px-4 py-3">Learn
                    more</button>
            </div>

        </div>
    </div>



    <div class="mt-10">
        <h1 class="text-2xl text-white font-bold">Our Projects</h1>
    </div>
    <div class="flex flex-wrap">
        <div class="sm:flex gap-5 text-white">
            <div class="mt-4 sm:w-1/2">
                <img src="https://res.cloudinary.com/koyo-nation/image/upload/v1700164609/H2ome_Page_Project_Media_Group_lyertj.png"
                    alt="" class="w-full mt-4">
            </div>


            <div class="sm:w-1/2 mt-4">
                <div class="mt-4">
                    <img src="https://res.cloudinary.com/koyo-nation/image/upload/v1700164775/P2roject_Page_Media_Group_ktkl1j.png"
                        alt="" class="w-[950px] ">

                </div>
            </div>
        </div>

    </div>



    <div class="flex flex-wrap">
        <div class="sm:flex gap-5 text-white">
            <div class="mt-4 sm:w-1/2">
                <img src="https://res.cloudinary.com/koyo-nation/image/upload/v1700166017/H3ome_Page_Project_Media_Group_iumaii.png"
                    alt="" class="w-full mt-4">
            </div>


            <div class="sm:w-1/2 mt-4">
                <div class="mt-4">
                    <img src="https://res.cloudinary.com/koyo-nation/image/upload/v1700166484/H4ome_Page_Project_Media_Group_imaup8.png"
                        alt="" class="w-[950px] ">
                    <button class=" mt-4 border rounded-[200px] w-auto h-auto px-4 py-3">Learn
                        more</button>
                </div>
            </div>
        </div>

    </div>

    <div class="flex flex-wrap mt-[70px]">
        <div class="mt-4 text-white">
            <h1 class=" text-4xl font-bold">Testimonials</h1>
        </div>
        <div class="sm:flex gap-5">
            <app-testimonials-list> </app-testimonials-list>
            <app-testimonials-list> </app-testimonials-list>
            <app-testimonials-list> </app-testimonials-list>
            <app-testimonials-list> </app-testimonials-list>
        </div>
    </div>



    <div class=" mt-[70px]">
        <div class="mt-4 text-white">
            <h1 class="text-4xl font-bold">Our Team Members</h1>
        </div>

        <div class="sm:flex gap-5 mt-4">
             <div class="text-white ">
            <div>
                <img src="https://res.cloudinary.com/koyo-nation/image/upload/v1700169409/T1eam_Member_Image_Container_ump7dv.png
                " alt="" class="w-[700px]">
            </div>
            <h4>
                Kelvin Wills
            </h4>
            <p>Director Building</p>
        </div>



        <div class="text-white ">
            <div>
                <img src="https://res.cloudinary.com/koyo-nation/image/upload/v1700169752/T2eam_Member_Card_aar3mp.png
                " alt="" class="w-[700px]">
            </div>
           
        </div>




        <div class="text-white ">
            <div>
                <img src="https://res.cloudinary.com/koyo-nation/image/upload/v1700169752/T4eam_Member_Image_Container_lfrc9c.png
                " alt="" class="w-[700px]">
            </div>
            <h4>
                Kelvin Wills
            </h4>
            <p>Director Building</p>
        </div>




        <div class="text-white ">
            <div>
                <img src="https://res.cloudinary.com/koyo-nation/image/upload/v1700169752/T3eam_Member_Card_ro93de.png
                " alt="" class="w-[700px]">
            </div>
           
        </div>


        </div>
    </div>




</div>