<div class="flex flex-wrap">
    <div class="sm:flex justify-between gap-5">
        
        <div class="text-white w-1/4">
            <div>
                <img src="https://res.cloudinary.com/koyo-nation/image/upload/v1700169409/T1eam_Member_Image_Container_ump7dv.png
                " alt="" class="w-full">
            </div>
            <h4>
                Kelvin Wills
            </h4>
            <p>Director Building</p>
        </div>



        <div class="text-white w-1/4">
            <div>
                <img src="https://res.cloudinary.com/koyo-nation/image/upload/v1700169409/T1eam_Member_Image_Container_ump7dv.png
                " alt="" class="w-full">
            </div>
         
        </div>




        <div class="text-white w-1/4">
            <div>
                <img src="https://res.cloudinary.com/koyo-nation/image/upload/v1700169409/T1eam_Member_Image_Container_ump7dv.png
                " alt="" class="w-full">
            </div>
       
        </div>




        <div class="text-white w-1/4">
            <div>
                <img src="https://res.cloudinary.com/koyo-nation/image/upload/v1700169409/T1eam_Member_Image_Container_ump7dv.png
                " alt="" class="w-full">
            </div>
           
        </div>


                    


    </div>
</div>