<nav class="container mx-auto text-white">
<div class="flex flex-wrap ">
    <div class="flex w-1/4 justify-start py-4 px-4">
       
        <h1 class="mr-5 mt-4"> WILLIZDESIGN</h1>
    </div>
   
    <div class=" nav-container flex-auto flex justify-end py-4 gap-5">
        
        <ol class="flex gap-5">
          <li class="mr-5 mt-4">About</li>
          <li class="mr-5 mt-4">Services</li>
          <li class="mr-5 mt-4">Project</li>
          <li class="mr-5 mt-4">Contact</li>
          <li class="mr-5"><button  class="border rounded-[200px] w-auto h-auto px-4 py-3">Learn More</button></li>
        </ol>
      </div>

</div>
</nav>